<header class="header">
  <img src="/media/Logo.png" class="header__logo" alt="Logo">
  <nav class="menu">
    <ul>
      {{> menu_items}}
      <li class="menu__item"><a href="login">Войти</a></li>
      <li class="menu__item"><a href="registration">Зарегистрироваться</a></li>
    </ul>
  </nav>
</header>