<header class="header">
  <img src="/media/Logo.png" class="header__logo" alt="Logo">
  <nav class="menu">
    <ul>
      {{> menu_items}}
      <li class="menu__item" style="display:none;" id="login"><a href="login">Войти</a></li>
      <li class="menu__item" style="display:none;" id="registration"><a href="registration">Зарегистрироваться</a></li>
      <li class="menu__item" style="display:none;" id="account-name"><a href="user/account">Имя пользователя</a></li>
      <li class="menu__item" style="display:none;" id="logout"><a href="#">Выход</a></li>
    </ul>
  </nav>
</header>