<li class="menu__item"><a href="/index">Главная</a></li>
<li class="menu__item"><a href="/flats">Квартиры</a></li>
<li class="menu__item"><a href="/neighbors">Соседи</a></li>
<li class="menu__item"><a href="/flats/new-flat">Сдать квартиру</a></li>
<li class="menu__item"><a href="/neighbor_form">Анкета жильца</a></li>
<li class="menu__item"><a href="/todoList">TodoList</a></li>