<!DOCTYPE html>
<html lang="ru">
<head>
  {{> common_css_js}}
  <script src="/js/front-js/chat.js"></script>

  <title>Чат</title>
</head>
<body>
{{> header}}

<main>
  <div>
    <ul id="messages"></ul>
  </div>

  <div>
    <form id="form-post-message">
      <input id="message" type="text" />
      <button type="submit">Отправить</button>
    </form>
  </div>
</main>

{{> footer}}

</body>
</html>