<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/css/flat-neighbor.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/pageLoadTime.js"></script>
    <script src="/js/menu.js"></script>
    <title>Квартиры</title>
</head>
<body>

{{> header}}

<main>
    <div class="flat-neighbors-list">
        <div class="flat-neighbors-list__elem">
            <img src="/media/flat-pic-example.png">
            <div class="characteristic-list">
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Адрес:</span>
                    <span class="characteristic-list-line__value">Такой то такой то адрес...</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Макс. жильцов:</span>
                    <span class="characteristic-list-line__value">4</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Примечание:</span>
                    <span class="characteristic-list-line__value">Это какое-то примечание.</span>
                </div>
            </div>
        </div>
        <div class="flat-neighbors-list__elem">
            <img src="/media/flat-pic-example.png">
            <div class="characteristic-list">
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Адрес:</span>
                    <span class="characteristic-list-line__value">Такой то такой то адрес...</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Макс. жильцов:</span>
                    <span class="characteristic-list-line__value">4</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Примечание:</span>
                    <span class="characteristic-list-line__value">Это какое-то примечание.</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Название пункта:</span>
                    <span class="characteristic-list-line__value">Текст пункта</span>
                </div>
            </div>
        </div>
        <div class="flat-neighbors-list__elem">
            <img src="/media/flat-pic-example.png">
            <div class="characteristic-list">
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Адрес:</span>
                    <span class="characteristic-list-line__value">Такой то такой то адрес...</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Макс. жильцов:</span>
                    <span class="characteristic-list-line__value">4</span>
                </div>
                <div class="characteristic-list-line">
                    <span class="characteristic-list-line__title">Примечание:</span>
                    <span class="characteristic-list-line__value">Это какое-то примечание.</span>
                </div>
            </div>
        </div>
    </div>
</main>

{{> footer}}

</body>
</html>