<!DOCTYPE html>
<html lang="ru">
<head>
  {{> common_css_js}}
  <title>Анкета</title>
</head>
<body>

{{> header}}

<main>
  {{form.userId}}
  <form class="questionnaire-form">
    <div class="input-block">
      <label for="university" class="form-label">Университет</label>
      <input type="text" class="form-control" id="university" name="university" placeholder="ИТМО"
             autocomplete="off">
    </div>
    <div class="input-block">
      <label for="faculty" class="form-label">Факультет</label>
      <input type="text" class="form-control" id="faculty" name="faculty" placeholder="ФИТИП"
             autocomplete="off">
    </div>
    <div class="input-block">
      <label for="preferred_price" class="form-label">Предпочитаемая цена</label>
      <input id="preferred_price" type="number" value="20000" min="0" max="1000000000" step="1"
             class="form-control">
    </div>
    <div class="input-block">
      <label for="preferred_numNeighbors" class="form-label">Предпочитаемое число жильцов</label>
      <input id="preferred_numNeighbors" type="number" value="1" min="1" max="6" step="1"
             class="form-control">
    </div>
    <div class="input-block">
      <label for="preferred_location" class="form-label">Предпочитаемый район</label>
      <input type="text" class="form-control" id="preferred_location" name="preferred_location"
             placeholder="Приморский район" autocomplete="off">
    </div>
    <div class="input-block">
      <label for="gender" class="form-label">Пол</label>
      <select class="form-control" aria-label="Default select example" id="gender">
        <option selected>Не указано</option>
        <option value="1">Мужской</option>
        <option value="2">Женский</option>
      </select>
    </div>
    <div class="input-block">
      <label for="requirements" class="form-label">Требования к соседу</label>
      <textarea class="form-control-textarea" id="requirements" name="requirements"
                placeholder="Чистоплотность, ..." autocomplete="off" rows="4"></textarea>
    </div>
    <div class="input-block">
      <label for="about_myself" class="form-label">О себе</label>
      <textarea class="form-control-textarea" id="about_myself" name="about_myself" autocomplete="off"
                rows="4"></textarea>
    </div>
    <button type="button" class="btn-save">Сохранить</button>
  </form>
</main>

{{> footer}}

</body>
</html>