<!DOCTYPE html>
<html lang="ru">
<head>
  {{> common_css_js}}
  <script src="/js/front-js/neighbor_form.js"></script>
  <title>Анкета</title>
</head>
<body>

{{> header}}

<main>
  <form class="questionnaire-form" id="form-neighborForm">
    <div class="input-block">
      <label for="universityId" class="form-label">Университет</label>
      <select class="form-control" id="universityId" name="universityId">
        <option value="0">ITMO</option>
        <option value="1">SPBGU</option>
        <option value="2">LETI</option>
        <option value="3">SPBPU</option>
      </select>
    </div>
    <div class="input-block">
      <label for="faculty" class="form-label">Факультет</label>
      <input type="text" class="form-control" id="faculty" name="faculty" placeholder="ФИТИП"
             autocomplete="off">
    </div>
    <div class="input-block">
      <label for="preferredPrice" class="form-label">Предпочитаемая цена</label>
      <input id="preferredPrice" type="number" name="preferredPrice" min="0" max="1000000000" step="1"
             class="form-control">
    </div>
    <div class="input-block">
      <label for="preferredPeopleNum" class="form-label">Предпочитаемое число жильцов</label>
      <input id="preferredPeopleNum" type="number" name="preferredPeopleNum" min="1" max="6" step="1"
             class="form-control">
    </div>
    <div class="input-block">
      <label for="preferredArea" class="form-label">Предпочитаемый район</label>
      <input type="text" class="form-control" id="preferredArea" name="preferredArea" placeholder="Приморский район"
             autocomplete="off">
    </div>
    <div class="input-block">
      <label for="requirementsForNeighbour" class="form-label">Требования к соседу</label>
      <textarea class="form-control-textarea" id="requirementsForNeighbour" name="requirementsForNeighbour"
                placeholder="Чистоплотность, ..." autocomplete="off" rows="4"></textarea>
    </div>
    <div class="input-block">
      <label for="aboutMyself" class="form-label">О себе</label>
      <textarea class="form-control-textarea" id="aboutMyself" name="aboutMyself" autocomplete="off" rows="4"></textarea>
    </div>
    <div class="input-block">
      <label for="preferredGenders" class="form-label">Предпочитаемые гендеры: </label>
      <select class="form-control" id="preferredGenders" multiple name="preferredGenders">
        <option value="1">Male</option>
        <option value="0">Female</option>
      </select>
    </div>
    <button type="submit" class="btn-save">Сохранить</button>
    <button type="button" class="btn-save" id="button-delete">УДАЛИТЬ</button>
  </form>

</main>

{{> footer}}

</body>
</html>